html {
    min-height: 100%;
    position: relative;
}
body {
    background-color: #ecf0f1;
    font-family: Verdana;
}
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;

}
.navbar-footer
{
    background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.navbar-right .new_notice a {
    padding: 15px;
    margin-right: 40px;
    color: white;
}
.dropdown-menu {
    padding: 0px;
    overflow: hidden;
}

.icon-size
{
    font-size: 87px;
}
.top-menu {
    background-color:  #01A2D9;
}

.nav > li > a:hover, .nav > li > a {
    color: white;
}

.nav > li > a:hover, .nav > li > a:focus {
    color: white;
    background-color: #4284FF;
    text-decoration: none;
}

.main-content {
    min-height: 100%;
}

/*#footer {
    padding-top: 20px;
    background-color: #01A2D9;
    height: 70px;
    width: 100%;
    color: white;
    text-align: center;
}*/
#footer {
    background-color: #01A2D9;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 60px;
}
.footer-block { margin: 20px 0; }
.flash_messages {
    margin-top: 70px;
}

.admin-panel-button {
    color: red;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 100px;
    margin-bottom: 100px;
    opacity: 0.4;
}
.admin-panel-button img{
    width: 80px;
}

.admin-panel-button:hover {
    opacity: 1.0;
}

/* FORMS GLOBAL */
.main{
    margin-top: 70px;
}

h1.title {
    font-size: 50px;
    font-family: 'Passion One', cursive;
    font-weight: 400;
}

hr{
    width: 10%;
    color: #fff;
}

.form-group{
    margin-bottom: 15px;
}

label{
    margin-bottom: 15px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

.main-form{
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}

.main-center{
    margin-top: 30px;
    margin: 0 auto;
    max-width: 600px;
    padding: 40px 40px;

}