{% extends 'base.html.twig' %}
{% block title %}Panel Administracyjny{% endblock %}
{% block body %}
    <div class="add-section">
        <a href="{{ url('admin_create_car') }}" class="btn btn-info">Dodaj nowy pojazd</a>
    </div>
    <div class="list">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Model</th>
                <th scope="col">Marka</th>
                <th scope="col">Nr.rejestracyjny</th>
                <th scope="col">Nr. VIN</th>
                <th scope="col">Rok produkcji</th>
                <th scope="col">Opcje</th>
            </tr>
            </thead>
            <tbody id="car-list">
            {% for car in cars %}
                <tr id="car-{{ car.id }}">
                    <th scope="row">{{loop.index}}</th>
                    <td>{{ car.brand }}</td>
                    <td>{{ car.model }}</td>
                    <td>{{ car.registrationNumber }}</td>
                    <td>{{ car.vin }}</td>
                    <td>{{ car.productionYear }}</td>
                    <td class="links">
                        <a class="action-url" href="{{ url('admin_details_car', {id : car.id}) }}"><span class="glyphicon glyphicon-search preview" aria-hidden="true"></span></a>
                        <a class="action-url" href="{{ url('admin_edit_car', {id : car.id}) }}"><span class="glyphicon glyphicon-edit edit" aria-hidden="true"></span></a>
                        <a class="action-url" href="{{ url('admin_remove_car', {id : car.id}) }}"><span class="glyphicon glyphicon-remove remove" aria-hidden="true" data-toggle="modal" data-target="#carRemoveModal"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {#Model remove#}
    <!-- Modal -->
    <div class="modal fade" id="carRemoveModal" tabindex="-1" role="dialog" aria-labelledby="carRemoveModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="carRemoveModalLabel">UWAGA!!!</h3>
                </div>
                <div class="modal-body">
                    <p>
                        Usunięcie samochodu spowoduje, że nie zostanie on zachowany jako dane historyczne i nie będzie możliwy jego podgląd
                        w przypadku np. ogłoszeń zakończonych. <br><br>
                        Usunięcie samochodu spowoduje również <b>zakończenie</b> aktualnie trawjącego ogłoszenia dotyczącego wynajmu samochodu, który zostanie usunięty.
                        <br><br>
                        Jeżeli chcesz zachować dane historyczne, skorzystaj z opcji "Deaktywacja samochodu".
                    </p>
                </div>
                <div class="modal-footer">
                    <button id="cancel" type="button" class="btn btn-default" data-dismiss="modal">Anuluj</button>
                    <button id="remove-confirm" type="button" class="btn btn-danger">Usuń</button>
                </div>
            </div>
        </div>
    </div>


{% block javascripts %}
    <script>
        $( document ).ready(function () {
            $("#car-list").on('click', '.remove', function (e) {
                e.preventDefault()
                var url = $(this).parent().attr('href')
                $("#remove-confirm").on('click', function (e) {
                    console.log("Confirm")
                    console.log(url)
                    $.ajax({
                        url: url,
                        type: 'DELETE',
                        success: function(result) {
                            var response  = JSON.parse(result)
                            $('#car-'+response.id).remove()
                            addFlash(response.type, response.message)
                            url = ""
                        },
                        error: function (result) {
                            var response  = JSON.parse(result)
                            addFlash(response.type, response.message)
                        }
                    });
                })
            });
        })
    </script>
{% endblock %}
{% endblock %}